@{
	ViewData["Title"] = "ITNetwork Users Presenter";
}

<div class="text-center container">
	<div class="row">


		<div class="my-5">
			<h2 class="mb-3"> ITNetwork Users Presenter</h2>
			<p>Načte u databáze informace o uživatelích ITnetwork.cz do karet</p>
			<p>Data pak lze různě třídit, řadit a filtrovat</p>


			<a class="btn btn-primary" asp-action="ITNetwork" asp-controller="Home">Spustit ITNetwork Users Presenter</a>


		</div>
	


	</div>

</div>